.hero-bg {
  background: linear-gradient(45deg, #ffd701, #ff7a00, #fe0068, #7638fa);
  background-size: 300% 300%;

  -webkit-animation: gradient 120s ease infinite;
  -moz-animation: gradient 120s ease infinite;
  animation: gradient 120s ease infinite;
  overflow-x: hidden;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}

:root {
  --title-shp-dm: 2.25rem;
  --hero-bg-height: 20rem;

  @media (min-width: 640px) {
    --title-shp-dm: 4rem;
    --hero-bg-height: 30rem;
  }

  @media (min-width: 1024px) {
    --title-shp-dm: 9rem;
    --hero-bg-height: 60rem;
  }
}

.ttl-shp-1 {
  opacity: 0.3;
  background: linear-gradient(45deg, #ffd701, #ff7a00);
  background-size: 150% 150%;
  -webkit-animation: circle1 10s linear infinite;
  -moz-animation: circle1 10s linear infinite;
  animation: circle1 10s linear infinite;
}

@-webkit-keyframes circle1 {
  0% {
    top: 5%;
    left: 0;
  }
  33% {
    top: calc(100% - var(--title-shp-dm));
    left: 40%;
  }
  66% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 5%;
    left: 0;
  }
}
@-moz-keyframes circle1 {
  0% {
    top: 5%;
    left: 0;
  }
  33% {
    top: calc(100% - var(--title-shp-dm));
    left: 40%;
  }
  66% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 5%;
    left: 0;
  }
}
@keyframes circle1 {
  0% {
    top: 5%;
    left: 0;
  }
  33% {
    top: calc(100% - var(--title-shp-dm));
    left: 40%;
  }
  66% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 5%;
    left: 0;
  }
}

.ttl-shp-2 {
  opacity: 0.3;
  background: linear-gradient(155deg, #ff7a00, #fe0068);
  background-size: 150% 150%;
  -webkit-animation: circle2 10s linear infinite;
  -moz-animation: circle2 10s linear infinite;
  animation: circle2 10s linear infinite;
}

@-webkit-keyframes circle2 {
  0% {
    top: 0;
    left: 50%;
  }
  30% {
    top: 40%;
    left: 0;
  }
  60% {
    left: 60%;
    top: calc(100% - var(--title-shp-dm));
  }
  80% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-moz-keyframes circle2 {
  0% {
    top: 0;
    left: 50%;
  }
  30% {
    top: 40%;
    left: 0;
  }
  60% {
    left: 60%;
    top: calc(100% - var(--title-shp-dm));
  }
  80% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes circle2 {
  0% {
    top: 0;
    left: 50%;
  }
  30% {
    top: 40%;
    left: 0;
  }
  60% {
    left: 60%;
    top: calc(100% - var(--title-shp-dm));
  }
  80% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

.ttl-shp-3 {
  opacity: 0.3;
  background: linear-gradient(90deg, #fe0068, #7638fa);
  background-size: 150% 150%;
  -webkit-animation: circle3 10s linear infinite;
  -moz-animation: circle3 10s linear infinite;
  animation: circle3 10s linear infinite;
}

@-webkit-keyframes circle3 {
  0% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
  40% {
    top: 40%;
    left: 0;
  }
  70% {
    left: 60%;
    top: 0;
  }
  85% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
}
@-moz-keyframes circle3 {
  0% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
  40% {
    top: 40%;
    left: 0;
  }
  70% {
    left: 60%;
    top: 0;
  }
  85% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
}
@keyframes circle3 {
  0% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
  40% {
    top: 40%;
    left: 0;
  }
  70% {
    left: 60%;
    top: 0;
  }
  85% {
    left: calc(100% - var(--title-shp-dm));
    top: 30%;
  }
  100% {
    top: calc(100% - var(--title-shp-dm));
    left: 70%;
  }
}

.ttl-shp-4 {
  opacity: 0.3;
  background: linear-gradient(20deg, #ffd701, #fe0068);
  background-size: 150% 150%;
  -webkit-animation: circle4 10s linear infinite;
  -moz-animation: circle4 10s linear infinite;
  animation: circle4 10s linear infinite;
}

@-webkit-keyframes circle4 {
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  25% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  80% {
    left: 50%;
    top: 0;
  }
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}
@-moz-keyframes circle4 {
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  25% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  80% {
    left: 50%;
    top: 0;
  }
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}
@keyframes circle4 {
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  25% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  80% {
    left: 50%;
    top: 0;
  }
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}

.ttl-shp-5 {
  opacity: 0.3;
  background: linear-gradient(79deg, #ff7a00, #7638fa);
  background-size: 150% 150%;
  -webkit-animation: circle5 10s linear infinite;
  -moz-animation: circle5 10s linear infinite;
  animation: circle5 10s linear infinite;
}

@-webkit-keyframes circle5 {
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  80% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  25% {
    left: 50%;
    top: 0;
  }
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}

@-moz-keyframes circle5 {
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  80% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  25% {
    left: 50%;
    top: 0;
  }
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}

@keyframes circle5 {
  100% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
  80% {
    top: calc(100% - var(--title-shp-dm));
    left: 30%;
  }
  55% {
    left: 0;
    top: 20%;
  }
  25% {
    left: 50%;
    top: 0;
  }
  0% {
    left: calc(100% - var(--title-shp-dm));
    top: 50%;
  }
}

.steps-carousel {
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  /* Hide scrollbar for other browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.gradient-container {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
}

.title-bg {
  border-radius: 32px;
  background-color: #ffffff33;
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.title-txt {
  background: -webkit-linear-gradient(#eee, #ddd);
  opacity: 0.8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nyanCat {
  -webkit-animation: nyanCat 10s linear infinite;
  -moz-animation: nyanCat 10s linear infinite;
  animation: nyanCat 10s linear infinite;
  overflow-x: hidden;
}

.pikachu {
  -webkit-animation: nyanCat 15s linear infinite;
  -moz-animation: nyanCat 15s linear infinite;
  animation: nyanCat 15s linear infinite;
  overflow-x: hidden;
}

.waffle {
  -webkit-animation: waffle 10s linear infinite;
  -moz-animation: waffle 10s linear infinite;
  animation: waffle 10s linear infinite;
  overflow-x: hidden;
}

.toast {
  -webkit-animation: waffle 15s linear infinite;
  -moz-animation: waffle 15s linear infinite;
  animation: waffle 15s linear infinite;
  transform: scale(-1, 1);
  overflow-x: hidden;
}

@-webkit-keyframes nyanCat {
  0% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  100% {
    left: calc(100vw - 50px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}

@-moz-keyframes nyanCat {
  0% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  100% {
    left: calc(100vw - 100px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}

@keyframes nyanCat {
  0% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  100% {
    left: calc(100vw - 100px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}

@-webkit-keyframes waffle {
  100% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  0% {
    left: calc(100vw - 100px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}

@-moz-keyframes waffle {
  100% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  0% {
    left: calc(100vw - 100px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}

@keyframes waffle {
  100% {
    left: 0;
    top: calc(var(--hero-bg-height) - 50px);
  }
  0% {
    left: calc(100vw - 100px);
    top: calc(var(--hero-bg-height) - 50px);
  }
}
