.databg1 {
  background: linear-gradient(45deg, #333333, #161616);
  cursor: url('../resources/cursor.png') 25 41, pointer;
}


@keyframes slideup {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0); /* The image width */
  }
}

.databg2 {
  background-image: url('../resources/bg.png');
  background-size: 19em 14em;
  /* cursor: url('../resources/cursor.png'), pointer; */
  /* animation: slideup 60s linear infinite; */
}

.blurred-area {
  /* cursor: url('../resources/cursor.png'), pointer; */
  content: '';
  position: fixed;
  width: 100px; /* Adjust the size of the blurred area */
  height: 100px; /* Adjust the size of the blurred area */
  border-radius: 50%;
  background: linear-gradient(
    217deg,
    rgba(255, 122, 0, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  ), linear-gradient(127deg, rgba(254, 0, 104, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(211, 0, 197, 0.8), rgba(0, 0, 255, 0) 70.71%); /* Adjust the color and transparency */
  pointer-events: none;
  mix-blend-mode: screen; /* Blend mode for the light effect */
  filter: blur(10px); /* Adjust the blur amount */
}