.gr-bestie {
  background: -webkit-linear-gradient(45deg, #ffd701, #ff7a00, #fe0068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-1-div {
  background: -webkit-linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  filter: blur(20px);
}

.scroll-container.hovered {
  padding-right: 2rem;
  overflow: auto;
  overflow-y: hidden;
  
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  /* Hide scrollbar for other browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
