.gr-bestie {
  background: -webkit-linear-gradient(45deg, #ffd701, #ff7a00, #fe0068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-1-div {
  background: -webkit-linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  filter: blur(20px);
}

.scroll-container.hovered {
  padding-right: 2rem;
  overflow: auto;
  overflow-y: hidden;

  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  /* Hide scrollbar for other browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.chatNyan {
  -webkit-animation: chatNyan 20s linear infinite;
  -moz-animation: chatNyan 20s linear infinite;
  animation: chatNyan 20s linear infinite;
  overflow-x: hidden;
}

@-webkit-keyframes chatNyan {
  0% {
    left: 5%;
  }
  100% {
    left: 85%;
  }
}

@-moz-keyframes chatNyan {
  0% {
    left: 5%;
  }
  100% {
    left: 85%;
  }
}

@keyframes chatNyan {
  0% {
    left: 5%;
  }
  100% {
    left: 85%;
  }
}

.cheercat {
  left: calc(50% - 140px);
}
