.starburst {
  width: 140px;
  height: 140px;
  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    83.29% 60.82%,
    90.45% 79.39%,
    70.57% 78.32%,
    65.45% 97.55%,
    50% 85%,
    34.55% 97.55%,
    29.43% 78.32%,
    9.55% 79.39%,
    16.71% 60.82%,
    0% 50%,
    16.71% 39.18%,
    9.55% 20.61%,
    29.43% 21.68%,
    34.55% 2.45%,
    50% 15%,
    65.45% 2.45%,
    70.57% 21.68%,
    90.45% 20.61%,
    83.29% 39.18%
  );
}

.stb-large {
  width: 200px;
  height: 200px;
}

.skateCat {
  -webkit-animation: skateCat 20s linear infinite;
  -moz-animation: skateCat 20s linear infinite;
  animation: skateCat 20s linear infinite;
  overflow-x: hidden;
}

@-webkit-keyframes skateCat {
  0% {
    left: 5%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 5%;
  }
}

@-moz-keyframes skateCat {
  0% {
    left: 5%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 5%;
  }
}

@keyframes skateCat {
  0% {
    left: 5%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 5%;
  }
}

.likedcreatormini {
  width: 45%;
  @media (max-width: 1350px) {
    width: 40%;
  }
}
